body{
    background-color: rgb(12, 12, 66);
}


button{
    margin: 20px;
    width: 100px;
    font-size: 1.5rem;
    border-radius: 5px;
    border: 4px solid rgb(20, 133, 224);

}


#square-container{
    height: 700px;
    width: 700px;
    border: 4px solid rgb(20, 133, 224);
    margin: 20px auto;
    border-radius: 10px;

}

div.square{
    border: 2px solid rgb(20, 133, 224);
    flex-basis: calc(100% / 10);
    background-color: lightcyan;
    border-radius: 5px;

    
}

div.square.skyblue{
    background-color: cyan;
}